{{ $profile := includeTemplate "profile" . | fromJson }}
.config/dotfiles/zshenv.local
{{ if not $profile.capabilities.workstation }}
.config/zed
Library/Application Support/com.mitchellh.ghostty
{{ end }}
{{ if ne .chezmoi.os "darwin" }}
Library
{{ end }}
{{ if ne .chezmoi.os "linux" }}
.config/systemd
.config/environment.d
{{ end }}
{{ if .temporarySource }}
.config/systemd/user/dotfiles-software-update.service
.config/systemd/user/dotfiles-software-update.timer
Library/LaunchAgents/local.dotfiles.software-update.plist
{{ end }}
